<p>
  home works!
</p>

<div class="container">
  <br/>
  <br/>
<div class="row" id="ads">
  <div class="col-md-4">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">Back-End</span>
        <img class="img-fluid" src="/images/aspnetcore.png" alt="Alternate Text" />

      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Backend  Managed With API </span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>ASP.NET CORE 2.2</h5>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">Front-End</span>
        <img class="img-fluid" src="/images/Angular7.png" alt="Alternate Text" />

      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Client Side Managed With Angular 7  </span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>ANGULAR 7</h5>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">UI-Framework</span>
        <img class="img-fluid" src="/images/Angular7.png" alt="Alternate Text" />
      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Template  Build With BOOTSTRAP 4  </span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>BOOTSTRAP 4</h5>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase">JWTAuthentication</h5>
          <ul class="list-group">
            <li class="list-group-item">JSON We Toke are an open, industry standard RFC 7519 method for representing claim securly etweentwoparties</li>
            <li class="list-group-item">JWT.IO allows you to decode, verify and generate li>
            <li class="list-group-item">JWTs ca e siged usig a secret (with the HMCA algorithom )or pulic/private key pair usig RSA ECDSA</li>
            <li class="list-group-item">JWTs Signed tokens can verify the itegrity of the clims contain with in it</li>

          </ul>
          <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?" class="btn btn-primary mt-2 btn-block">Read More</a>

        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center text-uppercase">Asp.Net Identity Framwork</h5>
            <ul class="list-group">
              <li class="list-group-item">Asp.Net Core Identity  is a memership an open, industry standard RFC 7519 method for representing claim securly etweentwoparties</li>
              <li class="list-group-item">User can create you to decode, verify and generate li>
              <li class="list-group-item">External login e siged usig a secret (with the HMCA algorithom )or pulic/private key pair usig RSA ECDSA</li>
              <li class="list-group-item">Identity can tokens can verify the itegrity of the clims contain with in it</li>
                
            </ul>
            <a href="https://jwt.io/" class="btn btn-primary mt-2 btn-block">Read More</a>
          </div>
        </div>
      </div>
  </div>

</div>
